.wrapper__filter {
    position: relative;
    text-align: center;
}

label{
    color: white;
}

.filter-label {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 100px;
}

.filter-price , .filter-label{
    padding: .9rem;
    margin: 1rem;
    border-radius: 15px;
    background-color: rgba(253, 250, 250, 0.993);
    border: 3px solid #ca6f00;
}

.searchBar input {
    width: 50%;
}

@media screen and (max-width: 620px) {
    .maxnmin{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media screen and (min-width: 620px) {
    .products-container > div {
      flex-basis: 19rem;
      margin: 30px;
    }
  }